.expandable-button {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-bottom: 18px;
  cursor: pointer;
}

.btn-text {
  font-size: 14px;
  font-weight: 500;
  color: #4a4de6;
  margin-right: 10.44px;
}

.arrow{
    margin-right: 23.5px;
}
