.App{
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  background-color: hsl(0, 0%, 90%);
  width: 100vw;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  margin-bottom: 32px;
  left: 12vh;
  overflow-x: hidden;
}

.cards{
  margin: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 155px);
  gap: 24px;
  overflow-x: hidden;
}

.chart-card{
  grid-column: span 2;
  grid-row: span 2;
  background-color: white;
  border-radius: 8px;
}

.top-countries-card{
  grid-row: span 2;
}

.segmentation-card{
  grid-row: span 2;
}

.satisfaction-card{
  grid-row: span 2;
}

.add-component-card{
  grid-row: span 2;
}

@media only screen and (max-width: 1390px) {
  .App{
    height: auto;
  }
  .cards{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
}

@media only screen and (max-width: 1390px) {
  .cards{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
}

@media only screen and (max-width: 1200px) {
  .cards{
   display: flex;
   flex-direction: column;
   width: 400px;
  }
  .chart-card, .top-countries-card, .segmentation-card, .satisfaction-card ,.add-component-card{
    height: 300px;
  }
}

@media only screen and (max-width: 800px) {
  .home{
    left: 0;
  }
}

@media only screen and (max-width: 450px) {
  .cards{
    width: 370px;
    margin: 12px;
   }
}

@media only screen and (max-width: 400px) {
  .cards{
    width: 300px;
   }
}

@media only screen and (max-height: 900px) {
  .App{
    height: auto;
  }
}
